<h1>Editando Compra</h1>

<%= render 'form' %>

<%= link_to 'Exibir', @compra %> |
<%= link_to 'Voltar', compras_path %>

<%= render :template => "item_compras/index", :locals => { :@item_compras => @compra.item_compras} %>
